---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import { SITE } from "@config";
---

<Layout title={`Friends | ${SITE.title}`}>
  <Header activeNav="friends" />
  <Main pageTitle="Friends" pageDesc="Friendly link collection.">
    <LinkButton
      className="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
      href="https://blog.tsio.top/"
    >
      光溯星河
    </LinkButton>: 博学笃志，切问近思。
    <br />
    <p style="text-indent:2rem">
      timeStarry
      老兄的博客内容涉猎技术和生活，内容领域跨度要比我的大多了，生活和技术感悟都记录才是真正
      Blog 有的东西。可惜我没有感悟，我都是在练死劲儿🥲。
    </p>
  </Main>

  <Footer />
</Layout>
